/* @import "~bootstrap/dist/css/bootstrap.min.css";
@import '~mapbox-gl/dist/mapbox-gl.css'; */

body {
  padding-left: 20px;
}
.marker {
  background-image: url('../../assets/sensoricon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapStyle{
  height:80%;
  width:90%;
  position:absolute;
  top:0;
  right:0;
  z-index: 1;
  margin: 20px 20px 20px 20px;
  &:hover, &:active {
    border:none;
    cursor: pointer;}

}
mat-slide-toggle {
  position:absolute;
  right:10px;
  top:10px;
  z-index: 2;
}

.sidebar {
  background-color: var(--color-bg);
}

.example-container {
  background-color: var(--color-bg);
  all:revert;
  width: 100%;
  height: 100%;
}


