<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Visualizer</title>
  <base href="/">
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
</head>
<body>
<button mat-raised-button (click)="openDialog()">
  <mat-icon>replay</mat-icon>
  <span>Replay</span>
</button>
 <mat-drawer-container class="example-container">
    <mat-drawer-content>

    <div id="map" class="mapStyle">
      <mat-slide-toggle (click) = switchLayer()></mat-slide-toggle>

    </div>
    </mat-drawer-content>

</mat-drawer-container>
<script>
</script>
</body>
</html>

