<mat-toolbar color="primary">
  <span>ProLab</span>
  <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="menu icon">
  <mat-icon>menu</mat-icon>
    </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">
      <mat-icon>map</mat-icon>
      <span>Map view</span>
    </button>
    <button mat-menu-item routerLink="/latency">
      <mat-icon>show_chart</mat-icon>
      <span>Latency view</span>
    </button>
  </mat-menu>
</mat-toolbar>
