@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

:root :host{
  --color-bg: #ffffe6;
  --color-p: #1f1f14;
}
html, body {
  background-color: var(--color-bg);
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  p,h1,h2,h3 {
    color: var(--color-p);
  }
}

[data-theme="dark"] {
  --color-bg: #262626;
  --color-p: #ffffe6;
}

