<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">
  <div>Enter date and time in format: YYYY-MM-DD HH:mm:ss</div>
  <mat-form-field>
    <input matInput
           placeholder="Start date and time"
           formControlName="startDate">
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="End date and time"
           formControlName="endDate">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="stopReplay()">Stop replay</button>
  <button class="mat-raised-button mat-primary"(click)="replay()">Replay</button>
</mat-dialog-actions>
